name: Test and Build

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [24.x]

        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Create .env files from Secrets
              run: |
                  echo "${{ secrets.ENV_CLIENT }}" > apps/client/.env
                  echo "${{ secrets.ENV_API }}" > apps/api/.env

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build --if-present

            - name: Run tests sequentially
              run: npm run test
